includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
  - ../../classes
  - ../../controllers
  - ../../src
  - ../../views
  reportUnmatchedIgnoredErrors: false
  level: 6
  phpVersion: 70200
  treatPhpDocTypesAsCertain: false
