includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
    
parameters:
  paths:
  - ../../classes
  - ../../controllers
  - ../../override
  - ../../src
  - ../../views
  reportUnmatchedIgnoredErrors: false
  level: max
